<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/EstilosFormatos.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Voces&display=swap" rel="stylesheet"> 


    <link rel="icon" type="image/png " href="./Imagenes/icon_tab.png">



    <title>Formatos</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" href="#">Cine W Vision <img class="icono" src="./Imagenes/icon_tab.png">> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>


          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pelicula.html">Cartelera</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ranking">Ranking</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/formatos">Formatos</a>
          </li>
          


          <li class="nav-item">
            <select class="comboBox">
                <option>Seleccione una ciudad</option>
                <option>Tegucigalpa </option>
                <option>Juticalpa</option>
              </select>
          </li>
          <li class="nav-item">
            <select class="comboBox" >
            <option>Selecione un Cine</option>
            <option>Cine 1 </option>
            <option>Cine 2 </option>
          </select>
          </li>
          <li class="nav-item">
            <button class="btn btn-warning navbar-btn">Ver Cartelera</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   

      <div class="container zasecond">
        <div class="text-center my-5">
          <h1>Formatos</h1>
        <hr />

        <div class="card mb-3" style="max-width: 1150px;">
          <div class="row g-0">
            <div class="col-md-5">
              <img src="./Imagenes/Cine Sala 3D.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Cine 3D</h5>
                <p class="card-text">Disfruta de tus peliculas favoritas tambien en formato 3D. Este cine ha contado con formato 3D desde hace mas de 5 años para traer las mejores experiencias y sentimientos especiales con las peliculas desde una perspectiva o formato distinto</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 1150px;">
          <div class="row g-0">
            <div class="col-md-5">
              <img src="./Imagenes/Cine Special-D.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Cine Special-D</h5>
                <p class="card-text">Una sala de cine muy especial con la maxima experiencia en el cine. Disfruta de tu pelicula favorita con efectos especiales realistas que te haran sentir en ambiente, una pantalla plateada transparente de proporciones epicas y sensores de temperatura concorde con la pelicula.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 1150px;">
          <div class="row g-0">
            <div class="col-md-5">
              <img src="./Imagenes/Cine VIP.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Cine VIP</h5>
                <p class="card-text">
                  Disfruta de un ambiente con clase, en nuestra área VIP. Disfruta de beneficios como:

                  Sillas completamente reclinables y con descansa pies, 
                  Snack bar y servicio a la sala, 
                  Exclusividad y gran variedad de comidas y bebidas tipo gourmet y 
                  Área Lounge exclusiva para las salas Premier.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        
          </div>
        </div>
        
        </div>
      </div>


      <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
            
    
        </div>
    
        <ul class="iconos_redes_sociales">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
    
        <ul class="links_footer">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    
        <p>© Cine W Vision  ||  Derechos reservados</p>
    
    
    </footer> 

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>