<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/EstiloPeli.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Voces&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/png " href="./Imagenes/icon_tab.png">


    <title >Peliculas Actualmente</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="#">Cine W Vision   <img class="icono" src="./Imagenes/icon_tab.png"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./index.html">Home</a>
        </li>


        </li>
        <li class="nav-item">
          <a class="nav-link" href="./pelicula.html">Cartelera</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./ranking.html">Ranking</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./Formatos.html">Formatos</a>
        </li>
        


        <li class="nav-item">
          <select class="comboBox">
              <option>Seleccione una ciudad</option>
              <option>Tegucigalpa </option>
              <option>Juticalpa</option>
            </select>
        </li>
        <li class="nav-item">
          <select class="comboBox" >
          <option>Selecione un Cine</option>
          <option>Cine 1 </option>
          <option>Cine 2 </option>
        </select>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning navbar-btn">Ver Cartelera</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
 

      <div class="container zafirst">
        <div class="text-center my-5">
          <h1> <ion-icon name="film"></ion-icon> Cartelera Tegucigalpa Cine 1  <ion-icon name="film"></ion-icon></h1>
        <hr />

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
              <img src="./Imagenes/One Piece RED.jpeg" class="img-fluid">
              <div class="card-body">
                <h5 class="card-title">One Piece Film RED</h5>
                <p class="card-text">One Piece Film: Red es una película de anime de acción y aventura de fantasía dirigida por Gorō Taniguchi y producida por Toei Animation. Basado en el manga del mismo nombre escrito e ilustrado por Eiichiro Oda.</p>
                <a href="./descripcionPeli.html" class="btn btn-warning">Ver Horarios</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
              <img src="./Imagenes/mal-de-ojo-ofelia.webp" class="img-fluid">
              <div class="card-body">
                <h5 class="card-title">Mal de Ojo</h5>
                <p class="card-text">Un romance aparentemente perfecto se convierte en una pesadilla. Una mujer se convence de que el nuevo novio de su hija tiene una conexión oscura con su propio pasado</p>
                <a href="./descripcionPeli2.html" class="btn btn-warning ">Ver Horarios</a>
              </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
              <img src="./Imagenes/Black-La Roca-Adam.jpeg" class="img-fluid" >
              <div class="card-body">
                <h5 class="card-title">Black Adam</h5>
                <p class="card-text">Unos arqueólogos liberan de su tumba a Black Adam, quien llevaba 5000 años preso tras haber recibido los poderes de los dioses. De nuevo entre los humanos, Black Adam se dispone a imponer su justicia, muy diferente a la del mundo en el que despertó.</p>
                <a href="./descripcionPeli5.html" class="btn btn-warning">Ver Horarios</a>
              </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
              <img src="./Imagenes/Las monjitas.jpg" class="img-fluid" >
              <div class="card-body">
                <h5 class="card-title">La luz del diablo</h5>
                <p class="card-text">Película de terror sobrenatural estadounidense dirigida por Daniel Stamm y escrita por Robert Zappia. Es protagonizada por Virginia Madsen y también por Ben Cross en su último papel cinematográfico, y a quien está dedicada la película.</p>
                <a href="./descripcionPeli8.html" class="btn btn-warning">Ver Horarios</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
              <img src="./Imagenes/et-13.png" class="img-fluid" >
              <div class="card-body">
                <h5 class="card-title">ET: el Extraterrestre</h5>
                <p class="card-text">Un pequeño extraterrestre de otro planeta queda abandonado en la Tierra cuando su nave se olvida de él. Está completamente solo y asustado hasta que Elliott, un niño de nueve años, lo encuentra y decide esconderlo en su casa para protegerlo.</p>
                <a href="./descripcionPeli6.html" class="btn btn-warning round-0">Ver Horarios</a>
              </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
              <img src="./Imagenes/Wakanda por siempre.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Black Panther: Wakanda Forever</h5>
                <p class="card-text">Una secuela que seguirá explorando el incomparable mundo de Wakanda y todos los ricos y variados personajes presentados en la película de 2018.</p>
                <a href="./descripcionPeli9.html" class="btn btn-warning">Ver Horarios</a>
              </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
              <img src="./Imagenes/Superperro y compañia.webp" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Supermascotas</h5>
                <p class="card-text">El superperro Krypto une a un grupo de divertidos y descerebrados animales para que lo ayuden a rescatar a los superhéroes de la Liga de la Justicia, que han sido secuestrados.</p>
                <a href="./descripcionPeli3.html" class="btn btn-warning">Ver Horarios</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
              <img src="./Imagenes/cocodrilo de wallstreet.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Lilo, Lilo, cocodrilo</h5>
                <p class="card-text">Se traslada a la ciudad de Nueva York, su joven hijo Josh lucha por adaptarse a su nueva escuela y a sus nuevos amigos. Todo cambia cuando descubre a un cocodrilo cantante que vive en el ático de su nueva casa al que le encantan los baños, el caviar y la buena música.</p>
                <a href="./descripcionPeli7.html" class="btn btn-warning">Ver Horarios</a>
              </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem">
            <img src="./Imagenes/tren que explotara.png" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">Tren Bala</h5>
            <p class="card-text">Cinco asesinos a sueldo se encuentran a bordo de un tren bala que viaja de Tokio a Morioka con unas pocas paradas intermedias. Descubren que sus misiones no son ajenas entre sí. La pregunta es quién saldrá vivo del tren y qué les espera en la estación final.</p>
            <a href="./descripcionPeli10.html" class="btn btn-warning">Ver Horarios</a>
          </div>
          </div>
          </div>

        </div>

      

        </div>
      </div>


    <footer>

      <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
          
  
      </div>
  
      <ul class="iconos_redes_sociales">
          <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
      </ul>
  
      <ul class="links_footer">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
      </ul>
  
      <p>© Cine W Vision  ||  Derechos reservados</p>
  
  
  </footer> 

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>