*{
    background-color: #B4BCBD;
}

footer{
    flex: auto;
}

footer > div > div > div > p >a{
    flex: auto;
    color: #2D871B;
}

#header{
    width: 100%;
    height: 90px;
    text-align: center;
    padding: 50px;
    background-color: black;
}

#menu{
    width: 100%;
    height: 43px;
}

#menu > ul{
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#menu > ul > li{
    display: inline;
    line-height: 40px;
    transition: all 300ms;
} 

img{
    padding-left: 30%;
}

h1{
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

h5{
    background-color: black;
    color: #2D871B;
}

p{
    color: #2D871B;
}

#contenedor2{
    align-items: center;
}

strong{
    background-color: black;
}